---
layout: base.njk
title: "Design Leader"
description: "I am a nimble design leader comfortable with uncharted territory and collaborating with cross-discipline teams."
---

<article class="portfolio-content">
  {% include "hero-section.njk" %}
  {% include "page-sections.njk" %}
</article>